body{
    text-align: center;
    background-color: rgba(218, 165, 32, 0.481);
}
#BIGBOX{
    width: 80%;
    height: 95%;
    border: 5px solid black;
    display: inline-block;
    background-color: #404040;
    border-radius: 1%;
    box-shadow: 2px 2px 20px 2px rgb(191, 233, 5);

    
    align-items: center;
}
h4{
    font-size: 60px;
    color: rgb(149, 246, 3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
}

h1{
    margin: 5px;
    font-size: 80px;
}
h2{
    font-size: 40px;
    font-weight: 500;
    margin: 0%;
}
.box{
    border: 10px solid black;
    width: 150px;
    height: 150px;
    text-align: center;
    margin:  12px;
    border-radius: 20%;
}
.cont{
    justify-content: center;
    display: flex;
}

.red{
    background-color: rgb(235, 94, 94);
}
.yellow{
    background-color: rgb(212, 150, 26);
}
.green{
    background-color: rgb(22, 225, 202);
}
.purple{
    background-color: rgb(103, 132, 219);
}

.gameflaceClass{
    background-color: rgb(248, 210, 94);
}
.userflaceClass{

    background-color: green;
}